@font-face {
  font-family: "iconfont"; /* Project id 2605405 */
  src: url('../iconfont/iconfont.woff2?t=1623746579683') format('woff2'),
       url('../iconfont/iconfont.woff?t=1623746579683') format('woff'),
       url('../iconfont/iconfont.ttf?t=1623746579683') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
